.wp-block-gallery.has-nested-images figure.wp-block-image figcaption {
    font-size: var(--font-size-m);
    font-family: var(--font-family-syne);
    font-weight: 800;
    max-height: 50%;
    text-align: center;
    width: 100%;
    background: none !important;
    display: flex;
    justify-content: center;
    left: -14%;
    position: relative;
    bottom: 36%;
    align-items: center;
    left: 5%;
}

.wp-block-gallery.has-nested-images.is-cropped figure.wp-block-image:not(#individual-image) img {
    width: 193.29px;
    height: 128.86px;
}



.flex-row-1 {
    align-items: flex-start;
    display: flex;
    gap: 43px;
    margin-right: 1.0px;
    margin-top: 51px;
    min-width: 855px;
}


.vos-informations {
    height: 36px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;

}



.recta {

    border-radius: 7px !important;
    box-shadow: 0px 4px 14px #0000000a !important;
    height: 71px;
    width: 400px !important;
    border: solid white;

}


.nom {
    height: 24px;
    letter-spacing: 0;
    white-space: nowrap;
    padding: 8%;
}

.prnom {
    height: 24px;
    letter-spacing: 0;
    white-space: nowrap;
    padding: 8%;
}


.e-mail {
    height: 24px;
    letter-spacing: 0;
    white-space: nowrap;
    padding: 8%;
}

.line-6 {
    height: 447px;
    width: 2px;


}

.livraison {
    height: 36px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    margin-left: -22%;
}

.adresse-de-livraison {
    height: 24px;
    letter-spacing: 0;
    padding: 8%;
    white-space: nowrap;
}

.code-postal {
    height: 24px;
    letter-spacing: 0;
    line-height: normal;
    padding: 8%;
    white-space: nowrap;
}

.place {
    height: 24px;
    letter-spacing: 0;
    white-space: nowrap;
    padding: 8%;
}


.bouton-2 {
    background-color: var(--shilo) !important;
    border-radius: 5px;
    height: 55px;
    margin-left: 20.0px;
    overflow: hidden;
    padding: 8px 56px;
    width: 198px;
}

.bouton-2:hover {

    background-color: var(--brick-red) !important;
}

.commander-4 {
    height: 1.7rem;
line-height: 1.7rem;
min-width: 10%;
}

.align {
    width: 75% !important;

}

.image-container {
    display: flex;
    justify-content: center;
}

.image-container img {
    padding-left: 10%;

}


.formulaire2 {
    margin-left: -40% !important;
  position: relative;
  left:20%;
}

.wp-block-gallery.has-nested-images figure.wp-block-image figcaption {
    font-size: var(--font-size-m);
    font-family: var(--font-family-syne);
    font-weight: 800;
    max-height: 50%;
    text-align: center;
    width: 100%;
    background: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 50%;

}


.custom-form {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.input-wrapper {
    display: flex;
    align-items: center;
}

.button-group {
    display: flex;
    flex-direction: column;
}

.plus-button {
    margin-bottom: -14px;


    background-color: var(--shilo);
    position: relative;
    left: 244%;
    width: 32px;
    height: 31px;
    border-radius: 0 7px 0 0;
    border: solid var(--shilo);
    color: var(--white);
}

.minus-button {
    margin-bottom: 5px;
    color: var(--white);
    background-color: var(--shilo);
    position: relative;
    left: 244%;
    width: 32px;
    height: 31px;
    border-radius: 0 0 7px 0;
    border: solid var(--shilo);
}

.separatorr {
    width: 33px;
    height: 1px;
    color: var(--white);
    margin: 5px 0;
    position: relative;
    left: 244%;
    top: 5px;
}

.input-field {
    height: 56px;
    width: 80px;
    padding: 5px;
    border: none;
    text-align: center;
    border-radius: 7px;
    -moz-appearance: textfield;
    
}

.input-field::-webkit-inner-spin-button,
.input-field::-webkit-outer-spin-button {
    display: none;
    
}

.ok-button {
    background-color: #e0b9b4;
    color: white;
    border: none;
    padding: 5px 10px;
    font-weight: bold;
    width: 100px;
    height: 56px;
    border-radius: 5px;
    margin-left: 9px;
}

.ok-button:hover {
    background-color: var(--brick-red);
}

.containerr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    bottom: 60px;


}


.wp-block-gallery.has-nested-images.is-cropped figure.wp-block-image:not(#individual-image) img {
    width: 241px;
    height: 128.86px;
}



.text2 {
    position: relative;
    left: -327px;
    padding: 40px;
}

.wp-block-column.is-vertically-aligned-center {
    margin-top: -40px !important;
    margin-right: 50px !important;
}

.wp-block-button__link {
    background-color: var(--shilo) !important;
    position: relative;
    left: 23%;
    width: 189px;
    height: 58px;
    border-color: var(--shilo) ;
    bottom: -77px;
}

.wp-block-button__link:hover {
    background-color: var(--brick-red) !important;
}
.body {
    height: 1340px;
    margin: O;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
  }
  .title2{
    display: flex;
font-family: var(--font-family-syne);
font-size: var(--font-size-xl);
font-weight: 800;
height: 93px;
letter-spacing: 0;
line-height: normal;
text-align: center;
width: 680px;
justify-content: center;
align-items: center;
margin-top: 10%;
margin-bottom: 3%;
  }
  .box{
    display: flex;
justify-content: flex-start;
align-items: flex-end;
position: relative;
right: 3%;
  }
  .lin{
position: relative;
left:5%;
  }
  